In [6]:
import pandas as pd

In [7]:
path = './storage/age_data_2005_c.csv'

In [8]:
# df = pd.read_csv(path, sep=';', index_col='Index', dtype=['str', 'str', 'str', 'int', 'float32'])
df = pd.read_csv(path, sep=';', index_col='Index')
print(df.columns)
df.head()

Index(['Variant', 'Area', 'Notes', 'CountryCode', 'ReferenceDate', '0 - 4',
       '5 - 9', '10 - 14', '15 - 19', '20 - 24', '25 - 29', '30 - 34',
       '35 - 39', '40 - 44', '45 - 49', '50 - 54', '55 - 59', '60 - 64',
       '65 - 69', '70 - 74', '75 - 79', '80 - 84', '85 - 89', '90 - 94',
       '95 - 99', '100+'],
      dtype='object')

,Variant,Area,Notes,CountryCode,ReferenceDate,0 - 4,5 - 9,10 - 14,15 - 19,20 - 24,...,55 - 59,60 - 64,65 - 69,70 - 74,75 - 79,80 - 84,85 - 89,90 - 94,95 - 99,100+
Index,,,,,,,,,,,,,,,,,,,,,
0,Medium,WORLD,NaN,900,2010,632986.836,604672.978,596750.545,600530.061,599042.299,...,306722.687,238058.208,177555.187,143154.361,100556.857,62668.802,29930.473,9826.081,2596.361,391.932
0,Medium,WORLD,NaN,900,2015,647844.481,621556.905,600891.966,594213.427,596093.117,...,335515.400,288477.755,216374.497,152724.423,112862.978,69610.308,35857.327,13398.429,3165.372,559.595
0,Medium,WORLD,NaN,900,2020,647342.219,637732.059,618076.076,598530.004,590192.742,...,380487.489,316576.671,263400.057,187744.736,122106.044,79266.494,40625.316,16421.292,4489.114,733.128
0,Medium,WORLD,NaN,900,2025,635904.675,638575.182,634769.186,615903.051,594744.990,...,418985.513,360452.049,290322.948,229797.975,151811.121,87293.837,47127.449,19073.082,5666.162,1058.112
0,Medium,WORLD,NaN,900,2030,624427.911,628376.453,636103.057,632797.884,612292.693,...,437589.662,398253.269,332304.707,254828.149,187086.496,110172.863,53152.019,22645.926,6798.416,1407.928

In [9]:
cols_year = [ 'ReferenceDate', '0 - 4',
        '5 - 9', '10 - 14', '15 - 19', '20 - 24', '25 - 29', '30 - 34',
        '35 - 39', '40 - 44', '45 - 49', '50 - 54', '55 - 59', '60 - 64',
        '65 - 69', '70 - 74', '75 - 79', '80 - 84', '85 - 89', '90 - 94',
        '95 - 99', '100+']
cols = [ '0 - 4',
        '5 - 9', '10 - 14', '15 - 19', '20 - 24', '25 - 29', '30 - 34',
        '35 - 39', '40 - 44', '45 - 49', '50 - 54', '55 - 59', '60 - 64',
        '65 - 69', '70 - 74', '75 - 79', '80 - 84', '85 - 89', '90 - 94',
        '95 - 99', '100+']

In [10]:
d_kaz = df[ df['Area']=='Kazakhstan' ][cols_year]
d_kaz

,ReferenceDate,0 - 4,5 - 9,10 - 14,15 - 19,20 - 24,25 - 29,30 - 34,35 - 39,40 - 44,...,55 - 59,60 - 64,65 - 69,70 - 74,75 - 79,80 - 84,85 - 89,90 - 94,95 - 99,100+
Index,,,,,,,,,,,,,,,,,,,,,
84,2010,1083.210,1038.827,1047.417,1219.743,1543.611,1273.491,1164.879,1069.534,900.954,...,804.481,435.945,342.106,447.854,181.636,171.487,49.951,14.552,5.481,0.520
84,2015,1100.928,1054.388,1006.961,1011.618,1181.631,1504.670,1233.877,1118.677,1021.945,...,860.484,718.314,370.612,273.860,327.761,113.283,87.613,19.116,3.806,0.930
84,2020,1038.260,1073.427,1023.033,971.948,976.057,1147.780,1464.101,1188.397,1072.563,...,940.205,773.654,621.453,300.009,202.734,210.468,58.661,34.034,5.119,0.746
84,2025,934.469,1012.770,1042.493,988.499,937.593,945.367,1112.908,1417.998,1143.286,...,749.692,851.065,673.955,511.623,224.448,131.866,111.315,23.136,9.244,0.934
84,2030,845.448,910.757,982.327,1008.322,954.812,908.228,913.703,1072.727,1371.664,...,864.592,679.873,746.537,558.950,389.687,147.902,71.219,44.988,14032.000,23012.000
84,2035,805.197,823.077,880.799,948.670,975.216,926.220,877.911,876.863,1033.163,...,919.305,789.062,597.912,623.824,429.599,261.922,80.866,29.430,12.674,1.291
84,2040,794.318,783.622,793.470,847.619,916.296,947.196,896.578,842.336,841.036,...,990.439,843.677,698.542,501.647,484.327,292.428,146.266,34.161,20668.000,2.294
84,2045,772.460,773.278,754.231,760.653,815.974,889.124,918.108,861.639,807.879,...,1205.751,912.682,751.438,590.390,391.894,333.865,166.206,63.441,10.201,1.824
84,2050,721.326,751.882,744.025,721.630,729.558,789.661,860.903,883.688,827.808,...,904.831,1117.383,816.533,639.791,465.271,272.602,193.021,73.604,19.480,2.055

In [11]:
def survavial_rate(
    start_previous, start_next): return start_next/start_previous

In [15]:
d_kaz[d_kaz['ReferenceDate'] == 2050].iloc[:1]

,ReferenceDate,0 - 4,5 - 9,10 - 14,15 - 19,20 - 24,25 - 29,30 - 34,35 - 39,40 - 44,...,55 - 59,60 - 64,65 - 69,70 - 74,75 - 79,80 - 84,85 - 89,90 - 94,95 - 99,100+
Index,,,,,,,,,,,,,,,,,,,,,
84,2050,721.326,751.882,744.025,721.63,729.558,789.661,860.903,883.688,827.808,...,904.831,1117.383,816.533,639.791,465.271,272.602,193.021,73.604,19.48,2.055

In [12]:
(d_kaz[d_kaz['ReferenceDate'] == 2050].iloc[:, 1:]).reset_index(drop=True) / (d_kaz[d_kaz['ReferenceDate'] == 2010].iloc[:, 1:]).reset_index(drop=True)

,0 - 4,5 - 9,10 - 14,15 - 19,20 - 24,25 - 29,30 - 34,35 - 39,40 - 44,45 - 49,...,55 - 59,60 - 64,65 - 69,70 - 74,75 - 79,80 - 84,85 - 89,90 - 94,95 - 99,100+
0,0.665915,0.72378,0.710343,0.591625,0.472631,0.620076,0.739049,0.826236,0.918813,0.723138,...,1.124739,2.563128,2.386784,1.42857,2.561557,1.589637,3.864207,5.057999,3.554096,3.951923

In [13]:
d_kaz[ d_kaz['ReferenceDate'] == 2050 ][cols].values

array([[ 721.326,  751.882,  744.025,  721.63 ,  729.558,  789.661,
         860.903,  883.688,  827.808,  777.35 ,  773.366,  904.831,
        1117.383,  816.533,  639.791,  465.271,  272.602,  193.021,
          73.604,   19.48 ,    2.055]])